button{
    padding: 8px 10px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #a52a2a;
    color: white;
    cursor: pointer;
  
}