.form-container{
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;


}

.create-post-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
