.button{
  padding:10px;
  border-radius:6px;
  border:none;
  cursor:pointer;
  font-weight:600;
}

.primary-button{
  background:#0095f6;
  color:#fff;
}

.primary-button:hover{
  background:#1877f2;
}

p{
  text-align:center;
  font-size:14px;
  color:#737373;
}

a{
  text-decoration:none;
  font-weight:600;
  color:#0095f6;
}