.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding:  1rem;
        border-radius: 0.5rem;
        min-width: 300px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-group{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input{
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: none;
                outline: none;
            }
        }
    }
    
}