* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #1e1e1e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
  padding-inline: 3rem;
}

.note{
  background-color: rgb(94, 94, 94);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}